# importing packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [3]:
from sklearn.datasets import load_iris

In [5]:
iris=load_iris()

In [6]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [8]:
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
df['target']=iris.target

In [10]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
df=df.drop(df[df['target']==2].index)

In [13]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(df,df['target'],test_size=0.2)

In [16]:
df1=df[df['target']==0]
df2=df[df['target']==1]
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,5.471000,3.099000,2.861000,0.786000,0.500000
std,0.641698,0.478739,1.449549,0.565153,0.502519
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.000000,2.800000,1.500000,0.200000,0.000000
50%,5.400000,3.050000,2.450000,0.800000,0.500000
75%,5.900000,3.400000,4.325000,1.300000,1.000000
max,7.000000,4.400000,5.100000,1.800000,1.000000

In [19]:
f1=df1.describe()
f2=df2.describe()
f1#sestoso(target=0)
f2#versicolor(target=1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,50.000000,50.000000,50.000000,50.000000,50.0
mean,5.936000,2.770000,4.260000,1.326000,1.0
std,0.516171,0.313798,0.469911,0.197753,0.0
min,4.900000,2.000000,3.000000,1.000000,1.0
25%,5.600000,2.525000,4.000000,1.200000,1.0
50%,5.900000,2.800000,4.350000,1.300000,1.0
75%,6.300000,3.000000,4.600000,1.500000,1.0
max,7.000000,3.400000,5.100000,1.800000,1.0

In [21]:
m1=f1.iloc[1]#mean row for target=0(sestoso)
m2=f2.iloc[1]#mean row for target=1(versicolor)

In [22]:
std1=f1.iloc[2]#std row for target=0(sestoso)
std2=f2.iloc[2]#std row for target=1(versicolor)

In [24]:
X_test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
90,5.5,2.6,4.4,1.2,1
24,4.8,3.4,1.9,0.2,0
49,5.0,3.3,1.4,0.2,0
60,5.0,2.0,3.5,1.0,1
59,5.2,2.7,3.9,1.4,1
77,6.7,3.0,5.0,1.7,1
53,5.5,2.3,4.0,1.3,1
86,6.7,3.1,4.7,1.5,1
47,4.6,3.2,1.4,0.2,0
39,5.1,3.4,1.5,0.2,0
51,6.4,3.2,4.5,1.5,1
66,5.6,3.0,4.5,1.5,1
99,5.7,2.8,4.1,1.3,1
15,5.7,4.4,1.5,0.4,0
64,5.6,2.9,3.6,1.3,1
94,5.6,2.7,4.2,1.3,1
32,5.2,4.1,1.5,0.1,0
31,5.4,3.4,1.5,0.4,0
92,5.8,2.6,4.0,1.2,1
6,4.6,3.4,1.4,0.3,0

In [23]:
#a-input b-mean c-std dev
def gauss(a,b,c):
    d=-1*(((a-b)/c)**2)  #−((x − µ)/σ)^2 
    d=(math.exp(d))/c #e^−((x − µ)/σ)^2 /σ
    return d

In [26]:
#iloc[0][4] 0th row=count  4th column=target
total=df.describe().iloc[0][4] #total count (number of samples) in the DataFrame df 
total1=df1.describe().iloc[0][4]#total count (number of samples) in the DataFrame df1(sestoso)
total2=df2.describe().iloc[0][4]#total count (number of samples) in the DataFrame df2(versicolor)

# predicted labels for the test data.
predclass=[]

for index,row in X_test.iterrows():
    #two probability variables, p1 and p2, to 1.
    p1=1
    p2=1
    
    #target=0
    for i in range(0,4):
        
        #p1=p1*probability density
        p1=p1*gauss(row[i],m1[i],std1[i])#gauss(input,mean,stddev)
    #p1 is multiplied by the prior probability of class 0, prior probability total1/total  no of sample in df1/total sample
    p1=p1*(total1/total)
    
    
    #target=1
    for i in range(0,4):
        p2=p2*gauss(row[i],m2[i],std2[i])
    p2=p2*(total2/total)
    
    #to determine which class has a higher probability
    if p1>p2:
        predclass.append(0)
    else:
        predclass.append(1)

In [27]:
predclass

[1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0]

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,predclass)

1.0

In [29]:
model=GaussianNB()

In [30]:
X_train=X_train.drop('target',axis=1)
X_test=X_test.drop('target',axis=1)

In [31]:
X_train

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
19                5.1               3.8                1.5               0.3
11                4.8               3.4                1.6               0.2
54                6.5               2.8                4.6               1.5
71                6.1               2.8                4.0               1.3
72                6.3               2.5                4.9               1.5
..                ...               ...                ...               ...
29                4.7               3.2                1.6               0.2
1                 4.9               3.0                1.4               0.2
93                5.0               2.3                3.3               1.0
16                5.4               3.9                1.3               0.4
23                5.1               3.3                1.7               0.5

[80 rows x 4 columns]

In [32]:
X_test

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
90                5.5               2.6                4.4               1.2
24                4.8               3.4                1.9               0.2
49                5.0               3.3                1.4               0.2
60                5.0               2.0                3.5               1.0
59                5.2               2.7                3.9               1.4
77                6.7               3.0                5.0               1.7
53                5.5               2.3                4.0               1.3
86                6.7               3.1                4.7               1.5
47                4.6               3.2                1.4               0.2
39                5.1               3.4                1.5               0.2
51                6.4               3.2                4.5               1.5
66                5.6               3.0                4.5               1.5
99                5.7               2.8                4.1               1.3
15                5.7               4.4                1.5               0.4
64                5.6               2.9                3.6               1.3
94                5.6               2.7                4.2               1.3
32                5.2               4.1                1.5               0.1
31                5.4               3.4                1.5               0.4
92                5.8               2.6                4.0               1.2
6                 4.6               3.4                1.4               0.3

In [33]:
model.fit(X_train,Y_train)

GaussianNB()

In [34]:
y_pred=model.predict(X_test)
y_pred

array([1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0])

In [36]:
accuracy_score(Y_test,y_pred)

1.0